* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  /* padding: 15% ;
  position: 10%; */
  text-align: center;
  margin-top: 0;
  font-size: 320%;
}
.profile {
  display: flex;         
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  width: 30vw;            
  height: auto;
  margin-left: 10%;
  top: 13%; 
}

.img1{
width: 30vw;
height: auto;
border-radius: 18%;
}
.name{
  margin-top: 8%;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}
.box {
  position: absolute; /* 親要素を基準に絶対配置 */
  top: 10%;  /* 上端に配置 */
  right: 2%; /* 右端に配置 */
  left: 45%;
  /* height: 800vh; */
  /* max-width: 60px; */
  background-color: rgb(179, 255, 251);
  /* padding: 10px;  */
  /* size: 10vw 70vh; */
  overflow-x: auto;
}
.title{
  text-align: center;
}
.table1{
  width: 100%;
  min-width: 200px;
  table-layout: fixed;
}
.table1 td {
  border-bottom: 1px solid black; /* 下線をつける */
  padding: 2px; /* 余白をつける（オプション） */
  width: 70%;
  word-wrap: break-word;
}

.table1 tr td:nth-child(1){
  width: 30%;
  box-sizing: border-box;
}
